<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/iconsfont.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
</head>
<body>
    <div class="wrapper">
        <div class="container">
            <%- include('inc/sidebar_layout') -%>
            <div class="page__content">
                <%- include('inc/header_layout') -%>
                <div class="page__main">
                    <div class="page__main__container">
                        <form method="POST" action="/create-thread" class="ask__block">
                            <input id="title" name="title" class="titleCtrl textCtrl" placeholder="Введіть заголовок">
                            <textarea id="body" name="body" class="textCtrl areaCtrl" placeholder="Введіть ваше питання"></textarea>
                            <div class="ask__block__row-buttons">
                                <button class="addImg-but button">Додати зображення</button>
                                <button class="def__button button">Опублікувати</button>
                            </div>
                        </form> 
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/js/script.js"></script>
</body>
</html>