<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/iconsfont.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
</head>
<body>
    <div class="wrapper">
        <div class="container">
            <div class="page__content">
                <%- include('inc/header_layout') -%>
                <div class="page__error">
                    <% if (statusCode === 404) { %>
                        <span class="icon-triangle-exclamation"></span></span>
                        <div class="error_item">
                            <h1 class="error_head">404 - Сторінку не знайдено</h1>
                            <p class="error_body">На жаль, ми не змогли знайти запитувану вами сторінку.</p>
                        </div>
                    <% } else if (statusCode === 500) { %>
                        <span class="icon-triangle-exclamation"></span></span>
                        <div class="error_item">
                            <h1 class="error_head">500 - Внутрішня помилка сервера</h1>
                            <p class="error_body">Сайт може перебувати на технічному обслуговуванні або мати програмну помилку.</p>
                        </div>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
