.root {

    .avatar {
        width: 40px;
        height: 40px;
    }

    .user_name {
        font-weight: 500;
    }

    .additional {
        font-size: 12px;
        color: rgb(148, 148, 148);
    }
}