<header>
    <div class="header__container">
        <div class="logo__wrapper">
            <a href="/" class="sidebar__logo">
                <img src="/images/logo.svg">
                <p>trim<span>help</span></p>
            </a>
        </div>
        <div class="header__menu menu">
            <nav class="menu__body">
                <ul class="menu__list">
                    <li>
                        <form class="search__form" action="#">
                            <span class="searchIcon icon-magnifying-glass"></span>
                            <input type="text" name="" id="" class="textCtrl quickSearchField" placeholder="Пошук...">
                        </form>
                    </li>
                    <li><a href="#"><button class="button def__button">Увійти</button></a></li>
                    <li><a href="#"><button class="button reg__button">Зареєструватись</button></a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>