<nav class="sidebar">

    <nav class="navigation">
        <ul class="nav__links">
            <a href="#"><li class="navElement icon-house active end">Домашня</li></a>
            <li class="navHead">Публічні</li>
            <a href="#"><li class="navElement icon-list">Питання</li></a>
            <a href="#"><li class="navElement icon-tags">Теги</li>
            <a href="#"><li class="navElement icon-award-simple end">Рейтинг</li></a>
            <li class="navHead">Персональний навігатор</li>
            <a href="#"><li class="navElement icon-circle-question">Ваші питання</li></a>
            <a href="#"><li class="navElement icon-comment">Ваші відповіді</li></a>
            <a href="#"><li class="navElement icon-heart end">Ваші вподобання та голоси</li></a>
        </ul>
    </nav>
</nav>